
* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: #1D3557;
    display: grid;
    place-items: center;
  }
  .navbar{
      background-color: #1D3557;
      padding: 0;
      width: 100vw;
  }
  .navbar .navbar-nav .nav-but{
      padding: 5px;
  }
  
  .container {
    width: 800px;
    background-color: #fff;
  }
  
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .header #Month {
    color: #A8DADC;
    font-size: 30px;
    font-weight: 600;
  }
  
  button {
    width: 75px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
  }
  
  .header button {
    background-color:#A8DADC;
  }
  .Weekdays {
    width: 100%;
    display: flex;
    background-color:#457B9D;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
  }
  
  .Weekdays div {
    width: 100px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  #Calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .day {
    width: 100px;
    height: 100px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #cbd4c2;
    color: #457B9D;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #E63946;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  
  .event.holiday {
    background-color: #F1FAEE;
    text-align: center;
    font-size: 12px;
    color: #3d3d3d;
  }
  
  .plain {
    cursor: default;
    box-shadow: none;
  }
  
  #Event {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #addTask,
  #viewEvent {
    display: none;
    width: 350px;
    background-color: #fff;
    padding: 25px;
    position: absolute;
    z-index: 20;
  }
  
  #addTask h2,
  #viewEvent h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  #txtTitle {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cbd4c2;
    font-size: 16px;
  }
  
  #btnAdd {
    background-color: #457B9D;
  }
  
  .btnClose {
    background-color: #1D3557;
  }
  
  #viewEvent p {
    margin-bottom: 20px;
  }
  
  #btnDelete {
    background-color: #E63946;
  }
  
  .error {
    border-color: #E63946 !important;
  }